{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ToText - Extract Text from Images. Speech Recognition from Audio and Video. Sentiment Analysis and Language Detection.">
    <meta name="author" content="Chirag Khatri">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon-180x180.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-194x194.png' %}" sizes="194x194">
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static 'img/favicon/android-chrome-192x192.png' %}" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="{% static 'img/favicon/mstile-144x144.png' %}">
    <meta name="msapplication-config" content="{% static 'img/favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    <title>ToText - Image, Audio, Video To Text.</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/freelancer.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static "js/freelancer.js" %}"></script>
</head>

<body id="page-top" class="index">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="{% url 'index' %}">ToText</a>
            </div>
        </div>
    </nav>
<div class="phonyheader">

     <div class="container">
     

     <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Language Detection</h2>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <hr class="star-primary">
                            
							
                            <p> Find out the language of the text. </p><br><br>
                            <ul class="list-inline item-details">
                                <li>Formats:
                                    <strong><a>Plain text</a></strong>
                                </li>
                                <li>Supported Languages:
                                    <strong><a>Almost All</a>
                                    </strong>
                                </li>
                            </ul><br>
							<form action="{% url 'language_out_view' %}" method='post' enctype='multipart/form-data'>
			                 {% csrf_token %}
			                 {{ form.inptext }}
			                 <br/><br/>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                <i class="fa fa-paper-plane"></i> Submit </button>  
                            </div>		
                		      </form>
						</div>
                    </div>
         </div>
</div>
<footer class="text-center">
    <div class="footer-below">
		2015 &copy;
        <a href="https://www.linkedin.com/in/khatrichirag" target="_blank"><strong>Chirag Khatri</strong></a>
    </div>
</footer>
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/freelancer.js" %}"></script>
</body>