{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ToText - Extract Text from Images. Speech Recognition from Audio and Video. Sentiment Analysis and Language Detection.">
    <meta name="author" content="Chirag Khatri">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-touch-icon-57x57.png' %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-touch-icon-60x60.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-touch-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-touch-icon-76x76.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-touch-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-touch-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-touch-icon-144x144.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-touch-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon-180x180.png' %}">
	<link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-32x32.png' %}" sizes="32x32">
	<link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-194x194.png' %}" sizes="194x194">
	<link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-96x96.png' %}" sizes="96x96">
	<link rel="icon" type="image/png" href="{% static 'img/favicon/android-chrome-192x192.png' %}" sizes="192x192">
	<link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-16x16.png' %}" sizes="16x16">
	<link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
	<link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
	<link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}">
	<meta name="msapplication-TileColor" content="#2d89ef">
	<meta name="msapplication-TileImage" content="{% static 'img/favicon/mstile-144x144.png' %}">
	<meta name="msapplication-config" content="{% static 'img/favicon/browserconfig.xml' %}">
	<meta name="theme-color" content="#ffffff">

    <title>ToText - Image, Audio, Video To Text.</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/freelancer.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body id="page-top" class="index">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="{% url 'index' %}">ToText</a>
            </div>
        </div>
    </nav>
<div class="phonyheader">

     <div class="container">
     

     <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Terms of Service</h2>
                </div>
             <div class="headings-centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <hr class="star-primary">
                            
							
			                            
			<h2>
				Web Site Terms and Conditions of Use
			</h2>

			<h3>
				1. Terms
			</h3>

			<p>
				By accessing this web site, you are agreeing to be bound by these 
				web site Terms and Conditions of Use, all applicable laws and regulations, 
				and agree that you are responsible for compliance with any applicable local 
				laws. If you do not agree with any of these terms, you are prohibited from 
				using or accessing this site. The materials contained in this web site are 
				protected by applicable copyright and trade mark law.
			</p>

			<h3>
				2. Use License
			</h3>

			<ol type="a">
				<li>
					Permission is granted to temporarily download one copy of the materials 
					(information or software) on ToText's web site for personal, 
					non-commercial transitory viewing only. This is the grant of a license, 
					not a transfer of title, and under this license you may not:
					
					<ol type="i">
						<li>modify or copy the materials;</li>
						<li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
						<li>attempt to decompile or reverse engineer any software contained on ToText's web site;</li>
						<li>remove any copyright or other proprietary notations from the materials; or</li>
						<li>transfer the materials to another person or "mirror" the materials on any other server.</li>
					</ol>
				</li>
				<li>
					This license shall automatically terminate if you violate any of these restrictions and may be terminated by ToText at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
				</li>
			</ol>

			<h3>
				3. Disclaimer
			</h3>

				<p>
					The materials on ToText's web site are provided "as is". ToText makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, ToText does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
				</p>

			<h3>
				4. Limitations
			</h3>

			<p>
				In no event shall ToText or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on ToText's Internet site, even if ToText or a ToText authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
			</p>
						
			<h3>
				5. Revisions and Errata
			</h3>

			<p>
				The materials appearing on ToText's web site could include technical, typographical, or photographic errors. ToText does not warrant that any of the materials on its web site are accurate, complete, or current. ToText may make changes to the materials contained on its web site at any time without notice. ToText does not, however, make any commitment to update the materials.
			</p>

			<h3>
				6. Links
			</h3>

			<p>
				ToText has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by ToText of the site. Use of any such linked web site is at the user's own risk.
			</p>

			<h3>
				7. Site Terms of Use Modifications
			</h3>

			<p>
				ToText may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
			</p>

			<h3>
				8. Governing Law
			</h3>

			<p>
				Any claim relating to ToText's web site shall be governed by the laws of the State of New Delhi without regard to its conflict of law provisions.
			</p>

			<p>
				General Terms and Conditions applicable to Use of a Web Site.
			</p>



			<h2>
				Privacy Policy
			</h2>

			<p>
				Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.
			</p>

			<ul>
				<li>
					Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
				</li>
				<li>
					We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.		
				</li>
				<li>
					We will only retain personal information as long as necessary for the fulfillment of those purposes. 
				</li>
				<li>
					We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned. 
				</li>
				<li>
					Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date. 
				</li>
				<li>
					We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
				</li>
				<li>
					We will make readily available to users information about our policies and practices relating to the management of personal information. 
				</li>
			</ul>

			<p>
				We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. 
			</p>		

			
						</div>
                    </div>
               </div>
           </div>
</div>
<footer class="text-center">
    <div class="footer-below">
        2015 &copy;
        <a href="https://www.linkedin.com/in/khatrichirag" target="_blank"><strong>Chirag Khatri</strong></a>
    </div>
</footer>
</body>